<html>
<head>
    <title>Edit Restaurant</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="\static\styles.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('allRestaurants')}}">Restaurant App</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('disconnect')}}">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br><br>
    <div class="container">
        <h2>Are you sure you want to delete {{item.name}} from the menu?</h2>
        <br>
        <form action="{{url_for('deleteMenuItem', restaurant_id=restaurant_id, menu_id=menu_id)}}" method='POST' enctype="multipart/form-data" id="my_form">
        <a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;"><span class="glyphicon glyphicon-trash"></span> Delete </a>
        &nbsp<span class="divider"></span>&nbsp
        <a href="{{url_for('restaurantMenu', restaurant_id=restaurant_id)}}" class="cancel-link"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
        </form>
    </div>
</body>
</html>