<html>
<head>
    <title>Edit Restaurant</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="\static\styles.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('allRestaurants')}}">Restaurant App</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('disconnect')}}">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <br><br>
        <div class="page-header">
            <h1> Edit Menu Item </h1>
        </div>
        <form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=menu_id)}}" method='POST' enctype="multipart/form-data" id="my_form">
        <h4>Name:</h4>
        <input type='text' size='30' name='name' value='{{item.name}}'><br><br>
        <h4>Description:</h4>
        <textarea type='text' size='30' name='description' cols="60" rows="4">{{item.description}}</textarea><br><br>
        <h4>Price:</h4>
        <input type='text' size='30' name='price' value='{{item.price}}'><br><br>
        <h4>Course:</h4>
        {% if item.course == 'Appetizer' %}
            <input type='radio' name='course' value='Appetizer' style="margin-left:25px" checked>Appetizer<br>
        {% else %}
            <input type='radio' name='course' value='Appetizer' style="margin-left:25px">Appetizer<br>
        {% endif %}
        {% if item.course == 'Entree' %}
            <input type='radio' name='course' value='Entree' style="margin-left:25px" checked>Entree<br>
        {% else %}
            <input type='radio' name='course' value='Entree' style="margin-left:25px">Entree<br>
        {% endif %}
        {% if item.course == 'Dessert' %}
            <input type='radio' name='course' value='Dessert' style="margin-left:25px" checked>Dessert<br>
        {% else %}
             <input type='radio' name='course' value='Dessert' style="margin-left:25px">Dessert<br>
        {% endif %}
        {% if item.course == 'Beverage' %}
            <input type='radio' name='course' value='Beverage' style="margin-left:25px" checked>Beverage<br><br>
        {% else %}
            <input type='radio' name='course' value='Beverage' style="margin-left:25px">Beverage<br><br>
        {% endif %}
        <h4>Image:</h4>
        <input type="file" name="image" id="image_input"><br><br>
        {% if not item.image %}
            <div id="imagebutton" style="display:none;">
                <img src="" id="item_image" style="width:150px;height:150px"><br><br>
                <button type="button" onclick="deleteImage()">Delete Image</button><br><br><br>
            </div>
        {% endif %}
        {% if item.image %}
            <div id="imagebutton">
                <img src="/static/images/{{item.image}}" id="item_image" style="width:150px;height:150px"><br><br>
                <button type="button" onclick="deleteImage()">Delete Image</button><br><br><br>
            </div>
        {% endif %}
        <input type="hidden" name="image_delete" id="image_delete" value="">
        <a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;"><span class="glyphicon glyphicon-ok"></span> Confirm </a>
        &nbsp<span class="divider"></span>&nbsp
        <a href="{{url_for('restaurantMenu', restaurant_id=restaurant_id)}}" class="cancel-link"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
        </form>
    </div>
    <script>
        function deleteImage() {
            document.getElementById("image_delete").value = true;
            document.getElementById("imagebutton").style.display = 'none';
            $('#image_input').val("");
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                document.getElementById("image_delete").value = '';
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagebutton').show();
                    $('#item_image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#image_input").change(function(){
            readURL(this);
        });
    </script>
</body>
</html>