<html>
<head>
    <title>Restaurants</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="\static\styles.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('allRestaurants')}}">Restaurant App</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if 'username' not in session %}
                        <li><a href="{{url_for('showLogin')}}">Log In</a></li>
                    {% else %}
                        <li><a href="{{url_for('disconnect')}}">Log Out</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <br><br>
        <div class="page-header">
            <h1>Restaurants</h1>
        </div>
        <br><br>

        {% with messages=get_flashed_messages() %}
            {% if messages %}
                <div id="flash_message">
                    <ul>
                        {% for message in messages %}
                        <div class="row">
                            <div class="alert alert-success" style="display:inline-block">
                                <span class="glyphicon glyphicon-ok"></span><strong> {{message}}</strong>
                            </div>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        {% if restaurants %}
            {% for restaurant in restaurants %}
                <div class="container-fluid">
                    <div class="jumbotron restaurant-jumbo" onclick="goToRestaurant('{{url_for('restaurantMenu', restaurant_id=restaurant.id)}}')">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p id="restaurant-name" style="padding-top:5px">{{restaurant.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}

            <p><b>You currently have no restaurants</b></p>

        {% endif %}
    </div>
    <script>
        function goToRestaurant(inURL) {
            window.location = inURL;
        }
        $(window).scroll(function(){
            $("#flash_message").hide("slow");
        });
    </script>
</body>
</html>